---
import { Button, Card, Icon, Input } from 'studiocms:ui/components';
---

<Card fullWidth class="password-update-form">
    <div slot="header">
        <h2>Update Password</h2>
        <div class="form-header">
            <Button type='submit' variant='solid' color='primary' disabled size='sm'>
                <Icon slot="start-content" name="check" width={24} height={24} />
                Save
            </Button> 
        </div>
    </div>
    <div class="password-form-entries">
        <Input label='Current Password' type='password' placeholder='********' isRequired disabled name='current-password' autocomplete='current-password' />
        <Input label='New Password' type='password' placeholder='********' isRequired disabled autocomplete='password new_password' name='new-password' />
        <Input label='Confirm New Password' type='password' placeholder='********' isRequired disabled autocomplete='password new_password' name='confirm-new-password' />
    </div>
</Card>

<style>
    .password-update-form {
        position: relative;
    }

    .password-update-form .password-form-entries {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .form-header {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
</style>