:root,
html,
body {
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	display: flex;
	align-items: center;
	font-family: "Onest Variable", sans-serif;
}

main {
	min-height: 100vh;
	width: 100%;
	padding: 1.5rem;
	position: relative;
}

:root,
::-webkit-scrollbar {
	width: 2px;
}

.scrollbar {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.scrollbar ::-webkit-scrollbar {
	width: 2px;
}

.sidebar-header {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.sidebar-logo {
	width: 2.75rem;
	height: auto;
}

.sidebar-title {
	font-size: 1.75em;
	font-weight: 700;
}

.nav-toggle {
	position: absolute !important;
	top: 1rem !important;
	left: 1rem !important;
	display: none !important;
	z-index: 40 !important;
}

@media screen and (max-width: 840px) {
	main {
		padding-top: 4rem;
	}
	.nav-toggle {
		display: flex !important;
	}
}

.sidebar-header-text {
	display: flex;
	flex-direction: column;
}

.sidebar-link-group {
	display: flex;
	flex-direction: column;
	gap: .375rem;
	width: 100%;
}

.sidebar-link-group.hidden {
	display: none;
}

.empty-placeholder-span {
	width: 100%;
	text-align: center;
	color: hsl(var(--text-muted));
	font-size: .875em;
}

.user-dropdown-trigger-container {
	width: calc(280px - 3rem);
	cursor: pointer;
	border: 1px solid hsl(var(--border));
	padding: .5rem;
	border-radius: .5rem;
	transition: all .15s ease;
}

.user-dropdown-trigger-container:hover {
	background-color: hsla(var(--border), 0.5);
}

.sidebar {
	justify-content: space-between;
}

.sidebar-links-container {
	gap: .75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.outer-sidebar-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sui-modal.lg {
	width: 650px !important;
}

.dashboard-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .25rem;

	color: hsl(var(--text-muted));

	font-size: .875em;

	& strong {
		font-weight: 700;
	}

	& a {
		color: hsl(var(--text-muted));
		text-decoration: none;
	}
}

.dashboard-footer a:hover {
	color: hsl(var(--primary-hover));
	text-decoration: underline;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 90vh;
}

.container .page-header {
	margin-bottom: 1.5rem;
}
