.sidebar-header {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.sidebar-logo {
	width: 2.75rem;
	height: auto;
}

.sidebar-title {
	font-size: 1.75em;
	font-weight: 700;
}

body {
	display: flex;
	align-items: center;
	font-family: "Onest Variable", sans-serif;
}

main {
	width: 100%;
	padding: 1.5rem;
}

.nav-toggle {
	position: absolute;
	top: 1rem;
	left: 1rem;
	display: none !important;
	z-index: 40 !important;
}

@media screen and (max-width: 840px) {
	.nav-toggle {
		display: flex !important;
	}
}
