.editor-container {
	display: flex;
	height: 80dvh !important;
	width: 100%;
	border: 2px solid hsl(var(--border));
}

.editor {
	display: flex;
	height: 80dvh !important;
	flex-direction: column;
	width: 100%;
}

/* Primary color for the background */
.gjs-one-bg {
	background-color: hsl(var(--background-step-3));
}

/* Secondary color for the text color */
.gjs-two-color {
	color: hsl(var(--text-normal));
}

/* Tertiary color for the background */
.gjs-three-bg {
	background-color: hsl(var(--background-base));
	color: hsl(var(--text-muted));
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
	color: hsl(var(--primary-base));
}

[data-tooltip]::after {
	background: rgba(51, 51, 51, 0.9);
}

.gjs-pn-commands {
	min-height: 40px;
}

#gjs-sm-float {
	display: none;
}

.gjs-logo-version {
	background-color: #756467;
}

.gjs-pn-btn.gjs-pn-active {
	box-shadow: none;
}

.CodeMirror {
	min-height: 450px;
	margin-bottom: 8px;
}
.grp-handler-close {
	background-color: transparent;
	color: #ddd;
}

.grp-handler-cp-wrap {
	border-color: transparent;
}
