@import '../fonts/syntax-font.css';

.custom-code {
	font-family: var(--scms-font-syntax);
	font-palette: --github-dark;
	font-size: 14px;
	line-height: 1.6;
}

[data-theme="light"] {
	.custom-code {
		font-palette: --github-light;
	}
}

.code-container {
	min-width: 0;
	border-radius: var(--radii-full);
	padding: 16px;
	margin-right: 1rem;
	background-color: hsl(var(--background-step-2)) !important;
	border: 1px solid hsl(var(--border)) !important;
	border-radius: .25rem;
	overflow-x: auto;
}
