@font-face {
	font-family: "Monaspace";
	src: url("../fonts/FontWithASyntaxHighlighter-Regular.woff2") format("woff2");
}

@font-palette-values --github-dark {
	font-family: "Monaspace";
	override-colors: 
		0 #f97583 /* keywords, {} */, 
		1 #68737e /* comments */, 
		2 #fda5ff /* literals */,
		3 #79b8ff /* numbers */, 
		4 #cea5fb /* functions, [] */, 
		5 #ffffff /* js others */, 
		6 #d19a66 /* not in use */, 
		7 #9ecbff /* inside quotes, css properties, few chars */, 
		8 #9ecbff /* few chars */;
}

.custom-code {
	font-family: "Monaspace", monospace;
	font-palette: --github-dark;
	font-size: 14px;
	line-height: 1.6;
}

.code-container {
	min-width: 0;
	border-radius: var(--radii-full);
	padding: 16px;
	margin-right: 1rem;
	background-color: hsl(var(--background-step-2)) !important;
	border: 1px solid hsl(var(--border)) !important;
	border-radius: .25rem;
	overflow-x: auto;
}
