name: CI - Pull Request Check Changeset

on:
  pull_request:

concurrency:
  group: >-
    ${{ github.workflow }}-
    ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.number) || github.sha }}
  cancel-in-progress: true

permissions: {}

env:
  FORCE_COLOR: true
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144

jobs:
  check-changeset:
    name: Check Changesets Status
    if: github.event_name == 'pull_request' && github.event.pull_request.user.login != 'apollo-git-bot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out code using Git
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@fe2d43b13c8a63e34ba8b0b9e16008149d8af55f # main

      - name: Check Changeset Status
        run: pnpm changeset:status