name: CI - PR Tests

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-testing-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  
jobs:
  withstudiocms-typecheck:
    name: Run withstudiocms TypeCheck
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - name: Check out code using Git
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
  
      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@78e87c84a960d27f3832db1e6af755abc31fb09b

      - name: Run withstudiocms TypeCheck
        run: pnpm ci:typecheck:withstudiocms

  withstudiocms-tests:
    name: Run withstudiocms Tests
    runs-on: ubuntu-latest
    needs: withstudiocms-typecheck
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - name: Check out code using Git
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
  
      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@78e87c84a960d27f3832db1e6af755abc31fb09b

      - name: Run withstudiocms Tests
        run: pnpm ci:test:withstudiocms

  studiocms-typecheck:
    name: Run StudioCMS TypeCheck
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - name: Check out code using Git
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@78e87c84a960d27f3832db1e6af755abc31fb09b

      - name: Run TypeCheck
        run: pnpm ci:typecheck:studiocms

  studiocms-plugin-typecheck:
    name: Run StudioCMS Plugin & Packages TypeCheck
    runs-on: ubuntu-latest
    needs: studiocms-typecheck
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
    steps:
      - name: Check out code using Git
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@78e87c84a960d27f3832db1e6af755abc31fb09b

      - name: Run TypeCheck for Plugins & Packages
        run: pnpm ci:typecheck:studiocms-packages

  studiocms-playground-test-build:
    name: Build Packages and Playground
    runs-on: ubuntu-latest
    needs: 
      - withstudiocms-typecheck
      - withstudiocms-tests
      - studiocms-typecheck
      - studiocms-plugin-typecheck
    env:
      NODE_OPTIONS: "--max_old_space_size=4096"
      ASTRO_DB_REMOTE_URL: ${{ secrets.ASTRO_DB_REMOTE_URL }}
      ASTRO_DB_APP_TOKEN: ${{ secrets.ASTRO_DB_APP_TOKEN }}
      CMS_ENCRYPTION_KEY: ${{ secrets.CMS_ENCRYPTION_KEY }}
    steps:
      - name: Check out code using Git
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Tools & Dependencies
        uses: withstudiocms/automations/.github/actions/install@78e87c84a960d27f3832db1e6af755abc31fb09b # main Jul 17th, 2025

      - name: Build packages and playground
        run: pnpm build