:root,
html,
body {
	min-height: 100vh;
	min-width: 100vw;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	display: flex;
	align-items: center;
	font-family: "Onest Variable", sans-serif;
}

main {
	min-height: 100vh;
	width: 100%;
	/* padding: 1.5rem; */
	position: relative;
}

.scrollbar {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
}

.scrollbar ::-webkit-scrollbar {
	width: 2px;
}

.sidebar-header {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.sidebar-logo {
	width: 2.75rem;
	height: auto;
}

.sidebar-title {
	font-size: 1.75em;
	font-weight: 700;
}

.nav-toggle {
	position: absolute !important;
	top: 1rem !important;
	left: 1rem !important;
	display: none !important;
	z-index: 40 !important;
}

@media screen and (max-width: 840px) {
	main {
		padding-top: 4rem;
	}
	.nav-toggle {
		display: flex !important;
	}
}

.sidebar-header-text {
	display: flex;
	flex-direction: column;
}

.sidebar-link-group {
	display: flex;
	flex-direction: column;
	gap: .375rem;
	width: 100%;
}

.sidebar-link-group.hidden {
	display: none;
}

.empty-placeholder-span {
	width: 100%;
	text-align: center;
	color: hsl(var(--text-muted));
	font-size: .875em;
}

.user-dropdown-trigger-container {
	width: calc(280px - 3rem);
	cursor: pointer;
	border: 1px solid hsl(var(--border));
	padding: .5rem;
	border-radius: .5rem;
	transition: all .15s ease;
}

.user-dropdown-trigger-container:hover {
	background-color: hsla(var(--border), 0.5);
}

.sidebar {
	justify-content: space-between;
}

.sidebar-links-container {
	gap: .75rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.outer-sidebar-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sui-modal.lg {
	width: 650px !important;
}

.dashboard-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .25rem;
	padding: 1.5rem;
	color: hsl(var(--text-muted));
	font-size: .875em;

	& strong {
		font-weight: 700;
	}

	& a {
		color: hsl(var(--text-muted));
		text-decoration: none;
	}
}

.dashboard-footer a:hover {
	color: hsl(var(--primary-hover));
	text-decoration: underline;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	max-height: 100vh;
	padding: 1rem;
	overflow-y: scroll;
	overflow-x: hidden;

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
		background-color: inherit;
		border-radius: 99px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: hsl(var(--default-active));
		border: 4px solid transparent;
		background-clip: content-box;
		border-radius: 99px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: hsl(var(--default-hover));
	}
}

.container-content {
	/* display: block; */
	min-width: 100%;
	/* min-height: 80vh; */
	height: 100%;
	/* flex-direction: column; */
	margin: 0 auto;
	overflow-y: visible;
}

.dashboard-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	gap: 1rem;
	width: 100%;
	padding: 1rem;

	& .grid-item {
		padding: 0.5rem;
		height: unset !important;
	}

	& .span-2 {
		grid-column: span 2;
	}

	& .span-3 {
		grid-column: span 3;
	}

	& .grid-item-title {
		display: flex;
		gap: 1rem;
		align-items: center;
	}
}

@media (max-width: 1200px) {
	.dashboard-grid-container {
		grid-template-columns: repeat(2, 1fr);

		& .span-3 {
			grid-column: span 2;
		}

		& .span-2 {
			grid-column: span 2;
		}
	}
}

@media (max-width: 768px) {
	.dashboard-grid-container {
		grid-template-columns: 1fr;

		& .span-3 {
			grid-column: span 1;
		}

		& .span-2 {
			grid-column: span 1;
		}
	}
}
